* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}



/* =========================================
   NAVBAR
========================================= */

.navbar {
    width: 100%;
    height: 90px;

    background: #1d385d;

    position: relative;

    /* z-index: 1000; */
}



/* =========================================
   NAV CONTAINER
========================================= */

.nav-container {
    width: 85%;
    height: 100%;

    margin: auto;

    display: flex;
    align-items: center;

    justify-content: space-between;

    /* padding-top: 0px; */
}



/* =========================================
   LOGO
========================================= */

.logo {
    color: #ffffff;

    text-decoration: none;

    font-size: 34px;

    font-weight: 700;

    /* line-height: 1; */
    /* white-space: nowrap; */
}



/* =========================================
   NAVIGATION
========================================= */

.navigation {
    height: 100%;

    display: flex;
    align-items: center;
}



/* =========================================
   NAV LINKS
========================================= */

.nav-links {
    list-style: none;

    display: flex;
    align-items: center;

    gap: 31px;

    height: 55%;
}



/* =========================================
   NAV ITEM
========================================= */

.nav-links>li {
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;
}



/* =========================================
   MAIN NAV LINK
========================================= */

.nav-links>li>a {
    color: #ffffff;

    text-decoration: none;

    font-size: 18px;

    font-weight: 400;

    /* white-space: nowrap; */

    display: flex;
    align-items: center;

    gap: 3px;

    position: relative;

    transition: 0.25s ease;
}



/* =========================================
   MAIN NAV RED DOT
========================================= */

.nav-links>li>a::after {
    content: "";

    position: absolute;

    width: 7px;
    height: 7px;

    background: #bd3150;

    border-radius: 50%;

    left: 5%;

    bottom: -15px;

    transform: translateX(-50%) scale(0);

    transition: 0.2s ease;
}



/* Show red dot */

.nav-links>li:hover>a::after {
    transform: translateX(-50%) scale(1);
}



/* =========================================
   DROPDOWN ARROW
========================================= */

.nav-links>li>a i {
    font-size: 18px;

    /* line-height: 1; */

    transition: 0.25s ease;
}



/* Rotate main dropdown arrow */

.dropdown:hover>a i {
    transform: rotate(180deg);
}



/* =========================================
   DROPDOWN MENU
========================================= */

.dropdown-menu {
    position: absolute;

    top: 100%;

    left: -23px;

    width: 275px;

    padding: 20px 0;

    background: #ffffff;

    list-style: none;

    border-radius: 4px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);

    visibility: hidden;

    opacity: 0;

    transform: translateY(12px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s ease;

    z-index: 9999;
}



/* =========================================
   SHOW DROPDOWN
========================================= */

.dropdown:hover>.dropdown-menu {
    visibility: visible;

    opacity: 1;

    transform: translateY(0);
}



/* =========================================
   DROPDOWN ITEM
========================================= */

.dropdown-menu li {
    width: 100%;

    height: 56px;

    position: relative;

    display: flex;
    align-items: center;
}



/* =========================================
   DROPDOWN LINK
========================================= */

.dropdown-menu li a {
    width: 100%;

    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    padding-left: 45px;

    padding-right: 25px;

    color: #455468;

    background: #ffffff;

    text-decoration: none;

    font-size: 17px;

    font-weight: 400;

    transition: 0.2s ease;
}



/* =========================================
   DROPDOWN RED LINE
========================================= */

.dropdown-menu li a::before {
    content: "";

    position: absolute;

    left: 25px;

    top: 50%;

    width: 15px;

    height: 3px;

    background: #b72e4d;

    transform:
        translateY(-50%) scaleX(0);

    transform-origin: left;

    opacity: 0;

    transition: 0.2s ease;
}



/* =========================================
   DROPDOWN HOVER
========================================= */

.dropdown-menu li a:hover {
    color: #ed5365;
}



/* =========================================
   SHOW RED LINE
========================================= */

.dropdown-menu li a:hover::before {
    opacity: 1;

    transform:
        translateY(-50%) scaleX(1);
}



/* =========================================
   DEEP DROPDOWN
========================================= */

.deep-dropdown {
    position: relative;
}



/* =========================================
   DEEP DROPDOWN MENU
========================================= */

.deep-menu {
    position: absolute;

    top: 0;

    right: 100%;

    width: 275px;

    padding: 20px 0;

    background: #ffffff;

    list-style: none;

    border-radius: 4px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);

    visibility: hidden;

    opacity: 0;

    transform: translateX(10px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s ease;

    z-index: 10000;
}



/* =========================================
   SHOW DEEP DROPDOWN
========================================= */

.deep-dropdown:hover>.deep-menu {
    visibility: visible;

    opacity: 1;

    transform: translateX(0);
}



/* =========================================
   DEEP DROPDOWN ITEM
========================================= */

.deep-menu li {
    width: 100%;

    height: 56px;

    position: relative;

    display: flex;

    align-items: center;
}



/* =========================================
   DEEP DROPDOWN LINK
========================================= */

.deep-menu li a {
    width: 100%;

    height: 100%;

    display: flex;

    align-items: center;

    position: relative;

    padding-left: 45px;

    padding-right: 25px;

    color: #455468;

    background: #ffffff;

    text-decoration: none;

    font-size: 17px;

    font-weight: 400;

    transition: 0.2s ease;
}





.deep-menu li a::before {
    content: "";

    position: absolute;

    left: 25px;

    top: 50%;

    width: 15px;

    height: 3px;

    background: #b72e4d;

    transform:
        translateY(-50%) scaleX(0);

    transform-origin: left;

    opacity: 0;

    transition: 0.2s ease;
}



/* =========================================
   DEEP DROPDOWN HOVER
========================================= */

.deep-menu li a:hover {
    color: #ed5365;
}



/* =========================================
   SHOW DEEP RED LINE
========================================= */

.deep-menu li a:hover::before {
    opacity: 1;

    transform:
        translateY(-50%) scaleX(1);
}



/* =========================================
   DEEP DROPDOWN ARROW
========================================= */

.deep-dropdown>a {
    justify-content: space-between;

    padding-right: 25px;
}



/* Deep arrow */

.deep-dropdown>a i {
    font-size: 18px;

    transition: 0.2s ease;
}



/* Rotate deep arrow */

.deep-dropdown:hover>a i {
    transform: rotate(180deg);
}




.get-started {
    width: 160px;

    height: 51px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #c52f50;

    color: #ffffff;

    text-decoration: none;

    border-radius: 30px;

    font-size: 16px;

    font-weight: 700;

    white-space: nowrap;

    transition: 0.3s ease;
}





.get-started:hover {
    background: #a92745;
}


.hero {
    width: 100%;
    min-height: 780px;
    padding: 100px 7.4% 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    overflow: hidden;
}

/* LEFT SIDE */

.hero-left {
    width: 48%;
    max-width: 800px;
}

.badge {
    width: fit-content;
    padding: 14px 22px;
    border-radius: 30px;
    background: #f9e7ec;
    color: #b5274b;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 35px;
}

.cap {
    margin-right: 8px;
    font-size: 17px;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.15;
    letter-spacing: -2px;
    font-weight: 800;
    color: #172f50;
    margin-bottom: 28px;
}

.description {
    width: 95%;
    font-size: 18px;
    line-height: 1.75;
    color: #606a73;
    margin-bottom: 35px;
}

/* STATS */

.stats {
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.07);
    padding: 20px 15px;
    margin-bottom: 40px;
}

.stat {
    flex: 1;
    text-align: center;
}

.stat h2 {
    font-size: 36px;
    font-weight: 800;
    color: #b5274b;
    margin-bottom: 7px;
}

.stat h2 sup {
    font-size: 20px;
    vertical-align: top;
}

.stat p {
    font-size: 14px;
    color: #7b8288;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.line {
    width: 1px;
    height: 52px;
    background: #dddddd;
}

/* BUTTONS */

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* .primary-btn {
    min-width: 237px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 9px;
    background: #b5274b;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #941c3b;
} */
/* 
.tour-btn {
    min-width: 280px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
    border-radius: 9px;
    background: #ffffff;
    color: #27384d;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
}

.play {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #b5274b;
    color: #ffffff;
    font-size: 10px;
    padding-left: 2px;
}

.tour-btn:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
} */


/* RIGHT SIDE */

.hero-right {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

.image-box {
    width: 100%;
    max-width: 780px;
    height: 600px;
    position: relative;
}

.image-box>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}


/* ACCREDITATION CARD */

.accredited {
    position: absolute;
    left: -32px;
    bottom: 40px;
    width: 260px;
    min-height: 94px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 18px 25px;
    background: #ffffff;
    border-radius: 15px;
    border-left: 5px solid #b5274b;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.check {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: #b5274b;
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
}

.accredited h3 {
    font-size: 17px;
    color: #26384e;
    margin-bottom: 5px;
}

.accredited p {
    font-size: 14px;
    color: #858585;
}

.primary-btn {
    min-width: 237px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 9px;
    background: #b5274b;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #941c3b;
    transform: translateY(-3px);
}


.tour-btn {
    min-width: 280px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
    border-radius: 9px;
    background: #ffffff;
    color: #27384d;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
    transition: 0.3s;
}

.tour-btn:hover {
    /* background: #b5274b; */
    color: #ffffff;
    color: #b5274b;
    transform: translateY(-3px);
}

.tour-btn:hover .play {
    background: #ffffff;
    color: #b5274b;
}


.features {
    width: 100%;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;

    padding: 60px 7%;
}


/* CARD */

.card {
    width: 33.33%;
    height: 360px;

    position: relative;

    padding: 50px 40px 35px;

    background: #ffffff;

    border: 1px solid #eeeeee;

    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);

    transition: 0.3s ease;

    overflow: hidden;
}


/* CARD TOP */

.card-top {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 30px;
}


/* ICON */

.icon {
    width: 82px;
    height: 82px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;

    background: #fae9ed;

    color: #c9344f;

    font-size: 31px;

    transition: 0.3s ease;
}


/* NUMBER */

.number {
    font-size: 54px;
    font-weight: 800;

    color: #f1f2f3;

    line-height: 1;
}


/* TITLE */

.card h2 {
    font-size: 25px;

    color: #193454;

    margin-bottom: 17px;

    font-weight: 700;
}


/* DESCRIPTION */

.card p {
    color: #747c85;

    font-size: 17px;

    line-height: 1.65;

    margin-bottom: 28px;
}


/* LINK */

.card a {
    text-decoration: none;

    color: #c9344f;

    font-size: 17px;

    font-weight: 700;

    display: inline-flex;

    align-items: center;

    gap: 8px;

    transition: 0.3s ease;
}


/* ARROW */

.card a i {
    font-size: 14px;

    transition: 0.3s ease;
}


/* =========================================
   CARD 1 HOVER
   ========================================= */

.card-one:hover {
    border-color: #c9344f;

    box-shadow: 0 15px 35px rgba(201, 52, 79, 0.12);

    transform: translateY(-2px);
}


.card-one:hover .icon {
    background: #c9344f;

    color: #ffffff;
}


.card-one:hover .number {
    color: #f3e1e5;
}


.card-one:hover a i {
    transform: translateX(5px);
}


/* =========================================
   CARD 2 FIXED / ACTIVE
   ========================================= */

.card-two {
    border-color: #e5b7c1;

    border-bottom: 5px solid #c9344f;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}


.card-two .icon {
    background: #c9344f;

    color: #ffffff;
}


.card-two .number {
    color: #f0f1f2;
}


/* =========================================
   CARD 3 HOVER
   ========================================= */

.card-three:hover {
    border-color: #c9344f;

    box-shadow: 0 15px 35px rgba(201, 52, 79, 0.12);

    transform: translateY(-2px);
}


.card-three:hover .icon {
    background: #c9344f;

    color: #ffffff;
}


.card-three:hover .number {
    color: #f3e1e5;
}


.card-three:hover a i {
    transform: translateX(5px);
}


/* =========================================
   ICON HOVER
   ========================================= */

.card-one .icon,
.card-three .icon {
    cursor: pointer;
}


.card-one:hover .icon,
.card-three:hover .icon {
    transform: scale(1.03);
}


/* =========================================
   LINK HOVER
   ========================================= */

.card-one a:hover,
.card-three a:hover,
.card-two a:hover {
    color: #9f243c;
}


.card-one a:hover i,
.card-three a:hover i,
.card-two a:hover i {
    transform: translateX(5px);
}

.event-section {
    width: 100%;
    padding: 35px 7.4%;
}


/* =========================
   EVENT CARD
========================= */

.event-card {
    width: 100%;
    min-height: 190px;

    display: flex;
    align-items: center;

    position: relative;

    padding: 35px 45px;

    background: #ffffff;

    border-radius: 15px;

    border-left: 5px solid #c73550;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}


/* =========================
   DATE BOX
========================= */

.date-box {
    width: 108px;
    height: 111px;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #c73550;

    border-radius: 15px;

    color: #ffffff;

    margin-right: 30px;
}

.month {
    font-size: 15px;
    font-weight: 800;

    letter-spacing: 1px;

    margin-bottom: 7px;
}

.date {
    font-size: 43px;
    line-height: 1;

    font-weight: 800;
}




.event-content {
    flex: 1;

    padding-right: 35px;
}




.event-label {
    display: inline-block;

    padding: 8px 15px;

    margin-bottom: 10px;

    border-radius: 20px;

    background: #f8e7eb;

    color: #b62f49;

    font-size: 13px;

    font-weight: 800;

    letter-spacing: 1px;
}




.event-content h2 {
    font-size: 27px;

    line-height: 1.25;

    color: #182f4b;

    font-weight: 700;

    margin-bottom: 12px;
}




.event-content p {
    font-size: 16px;

    line-height: 1.5;

    color: #747c84;
}




.event-action {
    width: 220px;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5px;
}




.reserve-btn {
    width: 220px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    border-radius: 8px;

    background: #c73550;

    color: #ffffff;

    font-size: 15px;

    font-weight: 700;

    transition: 0.25s ease;
}


/* HOVER EFFECT */

.reserve-btn:hover {
    background: #d1586d;

    box-shadow: 0 12px 25px rgba(199, 53, 80, 0.25);

    transform: translateY(-2px);
}




.time {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-top: 15px;

    color: #777f86;

    font-size: 14px;
}

.time i {
    color: #c73550;

    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #173554;
}




.about {
    width: 100%;
    min-height: 700px;

    display: flex;
    align-items: center;

    gap: 60px;

    padding: 60px 7.4%;
}




.about-image {
    width: 42%;
    height: 596px;

    position: relative;

    flex-shrink: 0;
}

.about-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;

    border-radius: 18px;
}




.experience {
    width: 265px;
    height: 135px;

    position: absolute;

    left: 30px;
    bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #c3294d;

    color: #ffffff;

    border-radius: 14px;

    text-align: center;

    box-shadow: 0 12px 30px rgba(195, 41, 77, 0.25);
}

.experience h2 {
    font-size: 52px;
    line-height: 1;

    font-weight: 800;

    margin-bottom: 8px;
}

.experience h2 sup {
    font-size: 25px;
}

.experience p {
    font-size: 15px;

    font-weight: 800;

    letter-spacing: 0.5px;
}




.about-content {
    flex: 1;
}




.small-title {
    display: flex;
    align-items: center;

    gap: 14px;

    color: #bd294a;

    font-size: 15px;

    font-weight: 800;

    letter-spacing: 2px;

    margin-bottom: 25px;
}

.small-title span {
    width: 35px;
    height: 2px;

    background: #bd294a;
}




.about-content > h1 {
    max-width: 850px;

    color: #173554;

    font-size: 42px;

    line-height: 1.25;

    font-weight: 800;

    margin-bottom: 27px;
}




.description {
    max-width: 900px;

    color: #69747e;

    font-size: 17px;

    line-height: 1.7;

    margin-bottom: 45px;
}




.cards {
    width: 100%;

    display: flex;

    gap: 25px;
}




.info-card {
    width: 50%;
    min-height: 250px;

    padding: 32px 28px;

    background: #ffffff;

    border: 1px solid #eeeeee;

    border-radius: 14px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);

    transition: 0.3s ease;
}




.card-icon {
    width: 55px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f9e7eb;

    /* color: #c3294d; */

    border-radius: 12px;

    font-size: 23px;

    margin-bottom: 22px;

    transition: 0.3s ease;
}




.info-card h2 {
    color: #173554;

    font-size: 21px;

    font-weight: 700;

    margin-bottom: 14px;

    transition: 0.3s ease;
}




.info-card p {
    color: #737d85;

    font-size: 15px;

    line-height: 1.7;
}




.info-card:hover {
    transform: translateY(-6px);

    border-color: #c3294d;

   
}




.info-card:hover .card-icon {
    background: #c3294d;

    color: #ffffff;

    border-radius: 50%;

    transform: scale(1.08);
}



.info-card:hover h2 {
    color: #c3294d;
}


.milestones {
    width: 100%;
    padding: 32px 8% 35px;
}

.milestones h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #183b63;
    margin-bottom: 50px;
}




.timeline {
    width: 100%;
    height: 280px;

    display: flex;
    position: relative;
}




.timeline::before {
    content: "";

    position: absolute;

    left: 0;
    right: 0;

    top: 0;

    height: 3px;

    background: #f0cbd1;
}



.milestone {
    width: 25%;

    position: relative;

    text-align: center;

    padding: 0 25px;
}




.dot {
    width: 25px;
    height: 25px;

    position: absolute;

    top: -11px;
    left: 50%;

    transform: translateX(-50%);

    background: #ffffff;

    border: 4px solid #edb7c0;

    border-radius: 50%;

    z-index: 2;
}

.dot::after {
    content: "";

    width: 11px;
    height: 11px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: #c8334c;

    border-radius: 50%;
}




.content {
    padding-top: 48px;
}

.content h2 {
    font-size: 44px;
    line-height: 1;

    color: #c8334c;

    font-weight: 800;

    margin-bottom: 16px;
}

.content h3 {
    font-size: 21px;

    color: #18365a;

    font-weight: 700;

    margin-bottom: 13px;
}

.content p {
    max-width: 370px;

    margin: 0 auto;

    color: #77828e;

    font-size: 17px;

    line-height: 1.65;
}


.legacy-section {
    width: 100%;

    display: flex;

    gap: 30px;

    padding: 70px 7.4%;
}


.legacy-item {
    width: 25%;
    min-height: 208px;

    display: flex;
    align-items: flex-start;

    gap: 20px;

    padding: 32px 28px;

    background: #ffffff;

    border: 1px solid #eeeeee;

    border-left: 4px solid #e7aab5;

    border-radius: 13px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);

    transition: 0.25s ease;
}


.legacy-number {
    flex-shrink: 0;

    font-size: 32px;

    line-height: 1;

    font-weight: 800;

    color: #d9919e;

    transition: 0.25s ease;
}


.legacy-text {
    flex: 1;
}


.legacy-text h2 {
    font-size: 20px;

    line-height: 1.25;

    font-weight: 700;

    color: #183554;

    margin-bottom: 12px;
}


.legacy-text p {
    font-size: 16px;

    line-height: 1.7;

    color: #747d86;
}




.legacy-item:hover {
    border-left-color: #c7334d;

    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.07);
}


.legacy-item:hover .legacy-number {
    color: #c7334d;
}

.pulse-footer {
    width: 100%;
    min-height: 565px;

    position: relative;

    background: #19385d;

    color: #ffffff;

    border-bottom: 2px solid #c93650;

    padding: 60px 7.4% 0;
}


/* =========================
   TOP FOOTER
========================= */

.pulse-footer-top {
    width: 100%;

    display: flex;

    justify-content: space-between;

    gap: 60px;

    padding-bottom: 80px;
}


/* =========================
   BRAND
========================= */

.pulse-brand {
    width: 38%;
}

.pulse-brand h2 {
    font-size: 38px;

    line-height: 1;

    color: #ffffff;

    margin-bottom: 32px;

    font-weight: 700;
}

.pulse-brand p {
    max-width: 650px;

    color: #ffffff;

    font-size: 17px;

    line-height: 1.55;

    margin-bottom: 30px;
}


/* =========================
   SOCIAL ICONS
========================= */

.pulse-social {
    display: flex;

    gap: 12px;
}

.pulse-social a {
    width: 51px;
    height: 51px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8495aa;

    border-radius: 50%;

    color: #8495aa;

    text-decoration: none;

    font-size: 20px;

    transition: 0.3s ease;
}


/* SOCIAL HOVER */

.pulse-social a:hover {
    background: #c93650;

    border-color: #c93650;

    color: #ffffff;

    transform: translateY(-3px);
}


/* =========================
   FOOTER COLUMNS
========================= */

.pulse-column {
    width: 16%;

    display: flex;

    flex-direction: column;
}

.pulse-column h3 {
    color: #ffffff;

    font-size: 20px;

    font-weight: 700;

    margin-bottom: 25px;
}

.pulse-column a {
    color: #ffffff;

    text-decoration: none;

    font-size: 17px;

    margin-bottom: 20px;

    transition: 0.25s ease;
}


/* LINK HOVER */

.pulse-column a:hover {
    color: #c93650;

    padding-left: 5px;
}


/* =========================
   CONTACT
========================= */

.pulse-contact {
    width: 20%;
}

.pulse-contact p {
    color: #ffffff;

    font-size: 17px;

    line-height: 1.9;

    margin-bottom: 25px;
}

.pulse-contact strong {
    color: #ffffff;
}


/* =========================
   BOTTOM COPYRIGHT
========================= */

.pulse-bottom {
    width: 100%;

    min-height: 122px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    text-align: center;

    background: #263f62;

    padding: 20px;

    margin-bottom: 0;
}

.pulse-bottom p {
    color: #ffffff;

    font-size: 16px;

    line-height: 1.8;
}

.pulse-bottom strong {
    margin-left: 5px;
}

.pulse-bottom span {
    color: #e03451;

    margin-left: 4px;
}


/* =========================
   BACK TO TOP
========================= */

.pulse-top {
    width: 50px;
    height: 50px;

    position: absolute;

    right: 18px;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #d33953;

    color: #ffffff;

    border-radius: 5px;

    text-decoration: none;

    font-size: 18px;

    transition: 0.3s ease;
}


/* BUTTON HOVER */

.pulse-top:hover {
    background: #a9243d;

    transform: translateY(-4px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}